@model NZWalks.UI.Models.AddWalkViewModel

@{
}

<h1 class="mt-3">Add Walk</h1>

<form method="post" class="mt-3">
    <div class="mt-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>

    <div class="mt-3">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Description" />
    </div>

    <div class="mt-3">
        <label class="form-label">Length in Kilometers</label>
        <input type="text" class="form-control" asp-for="LengthInKm" />
    </div>

    <div class="mt-3">
        <label class="form-label">Difficulty</label>
        <select asp-for="DifficultyId">
            @foreach (var difficulty in ViewBag.Difficulties)
            {
                <option value="@difficulty.Id">@difficulty.Name</option>
            }
        </select>
    </div>

    <div class="mt-3">
        <label class="form-label">Region</label>
        <select asp-for="RegionId">
            @foreach (var region in ViewBag.Regions)
            {
                <option value="@region.Id">@region.Name</option>
            }
        </select>
    </div>

    <div class="mt-3">
        <label class="form-label">Image URL</label>
        <input type="text" class="form-control" asp-for="WalkImageUrl" />
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>