@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To my NZWalks project. <br /> This is a simple UI, just to show the functionalities of the ASP.NET Core API, which is what I'd been meaning to practise with this project. <br /> Feel free to visit my portfolio at <a href="https://candelaria-barcelo.netlify.app/">this url</a>. Thank you for your time! <br /> ~Cande.</p>
</div>
